<!-- Se crea la barra de navegacion que estara en las paginas-->
<body>
  <div id="app">
    <nav id="nav" class="nav">
      <nav class="nav__column">
        <ul class="nav__link">
          <li *ngFor="let e of paginas">
            <a [routerLink]="e.path">
              {{e.enlace}}
            </a>
          </li>
        </ul>
      </nav>
    </nav>
    <div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- Footer de todas las paginas -->
  <div id="footer">
    <footer>
      <p>Realizado por Jeison Pañora</p>
      <p>2023 - 2024</p>
      <p>Universidad Politécnica Salesiana</p>
    </footer>
  </div>
</body>